.page-header {
  background-color: #1e1e1e;
  background-image: url("../img/header_bike_desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/header_bike_desktop@2x.jpg");
  }

  @media (max-width: 1023px) {
    background: none;
  }
}

.page-header__wrapper {
  max-width: 880px;
  margin: 0 auto;

  @media (max-width: 1023px) {
    max-width: 100%;
  }
}

.page-header__logo {
  position: absolute;
  top: 318px;

  @media (max-width: 1023px) {
    top: 25px;
    padding-left: 16px;
  }
}
