.page {
  height: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: $black;
}

.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  max-width: 1440px;
  margin: 0 auto;
}
