.page-header {
  background-image: url("../../img/header_bike_desktop.jpg");
  background-repeat: no-repeat;
}

.page-header__wrapper {
  max-width: 880px;
  margin: 0 auto;
}

.page-header__logo {
  position: absolute;
  top: 318px;
}
