.promo {
  display: flex;
  justify-content: space-between;
  padding-top: 251px;
  color: $white;

  @media (max-width: 1023px) {
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }
}

.promo__text {
  width: 400px;
  padding-top: 56px;
  margin-bottom: 240px;

  @media (max-width: 1023px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
    padding-top: 134px;

    background-color: #1e1e1e;
    background-image: url("../img/header_bike_tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/header_bike_tablet@2x.jpg");
    }
  }

  @media (max-width: 767px) {
    padding-top: 121px;
    margin: 0;
    background-image: url("../img/header_bike_mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/header_bike_mobile@2x.jpg");
    }
  }
}

.promo__text h2 {
  margin: 0;
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;

  @media (max-width: 1023px) {
    margin-bottom: 20px;
    padding: 0 20px;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
  }
}

.promo__text p {
  margin: 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  opacity: 0.8;

  @media (max-width: 1023px) {
    width: 435px;
    padding: 0 25px;
    margin-bottom: 80px;
    font-size: 18px;
    text-align: center;
  }

  @media (max-width: 767px) {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 70px;
    box-sizing: border-box;
  }
}

.promo__form {
  width: 327px;

  @media (max-width: 1023px) {
    width: 321px;
    margin-top: 70px;
  }

  @media (max-width: 767px) {
    width: 288px;
  }
}
