.user-form__title {
  margin: 10px 0 20px;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  text-align: center;

  @media (max-width: 1023px) {
    font-size: 18px;
    color: $black;
    margin: 0 -2px 30px;
  }

  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.user-form__wrapper {
  display: flex;
  flex-direction: column;
}

.user-form__wrapper input {
  height: 48px;
  padding-left: 30px;
  margin-bottom: 20px;
  border: 1px solid #c9ccd4;
  border-radius: 6px;
  box-sizing: border-box;

  &:hover {
    border: 1px solid $black;
  }

  &:focus {
    border: 2px solid $turquoise;
  }

  @media (max-width: 1023px) {
    padding-left: 21px;
  }

  @media (max-width: 767px) {
    padding-left: 26px;
  }

  &::placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: $grey;
    opacity: 0.5;
  }

  &::-moz-placeholder {
    font-family: "Open Sans", "Arial", sans-serif;
  }
}

.user-form__button {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 15px 15px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  background-color: $turquoise;
  border: none;
  border-radius: 6px;

  &:hover {
    background-color: #0d9688ef;
  }

  &:active {
    opacity: 0.7;
  }
}
